<h1><%= @recipe.name %></h1>
<br>
<h3><%= "Complexity: #{@recipe.complexity}" %></h3>
<br>
<h3><%= "Genre: #{@recipe.genre}" %></h3>
<br>
<h3>Ingredients</h3>
<br>
<% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <br>
<% end %>
<h3><%= "Total Cost: #{@total_cost}" %></h3>
