<h3><%= @recipe.name %>: <%= @recipe.complexity %>, <%= @recipe.genre %> </h3>


<% @ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>

<p>Total Cost: <%= @recipe.total_cost %> </p>
