<h2> <%= @recipe.name %> </h2>
<%= "Complexity: #{@recipe.complexity}" %>
<%= "Genre: #{@recipe.genre}" %>

<h3> Ingredients: </h3>
<% @ingredients.each do |ingredient| %>
  <%= "#{ingredient.name}," %>
<% end %>

<h3> <%= "Total Recipe Cost: #{@cost}" %> </h3>

<%= form_with url: "/recipes/#{@recipe.id}", method: :patch, local: true do |form| %>
<%= form.label :ingredient_id, "Ingredient ID:" %>
<%= form.text_field :ingredient_id %>
<%= form.submit "Add Ingredient" %>
<% end %>

