<h1><%= @recipe.name %></h1>
<h3><%= "Complexity: #{@recipe.complexity}" %></h3>
<h3><%= "Genre: #{@recipe.genre}" %></h3>
<h3>Ingredients</h3>
<% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
  <br>
<% end %>
<h3>Add an Ingredient</h3>
<%= form_with url: "/recipes/#{@recipe.id}", method: :get, local: :true do |f| %>
  <%= f.label :ingredient, "Ingredient ID" %>
  <%= f.number_field :ingredient %>
  <%= f.submit "Submit" %>
<% end %>
<h3><%= "Total Cost: #{@total_cost}" %></h3>
