<h1><%= @recipe.name %></h1>
<h3>Complexity :<%= @recipe.complexity %></h3>
<h3>Genre: <%= @recipe.genre %></h3>
<br>
<br>
<h1><%= @recipe.name %> Ingredients</h1>
<p><% @recipe.ingredients.each do |ing| %>
  <%=ing.name %>
  <%end%>