<h1><%= "Recipe: #{@recipe.name}" %></h1>
<%= "Complexity: #{@recipe.complexity}" %>
<br>
<%= "Genre: #{@recipe.genre}"%>
<br>
<%= "Ingredients: " %>
<%= @ingredients.map {|ingredient| ingredient.name }.join(", ") %>
<br>
<%= "Total Cost: #{@ingredients.total_cost}" %>
<br><br>

<h3>Add Ingredients:</h3>
<%= form_with url: "/recipes/#{@recipe.id}/ingredients", method: :post, local: true do |form| %>
  <%= form.label :ingredient_id, "Ingredient ID: " %>
  <%= form.text_field :ingredient_id %>
  <%= form.submit "Submit" %>
<% end %>