<h1><%= @recipe.name %></h1><br>
<h2>Complexity: <%= @recipe.complexity %></h2>
<h2>Genre: <%= @recipe.genre %></h2>
<h3>Ingredients:</h3>

<% @ingredients.each do |ingredient| %>
	<%= ingredient.name %>
	<br>
<% end %>

<p>Total Cost: <%= @recipe.total_cost %></p>