<h1><%= @recipe.name %></h1><br>
<h2>Complexity: <%= @recipe.complexity %></h2>
<h2>Genre: <%= @recipe.genre %></h2>
<h3>Ingredients:</h3>

<% @ingredients.each do |ingredient| %>
	<p><%= ingredient.name %>
	<br>
<% end %>

<p>Total Cost: <%= @recipe.total_cost %></p>

<h4>Add Ingredient</h4>

<%= form_with url: '/recipeingredients', method: :post, local: true do |f| %>
	<%= f.label :ingredient_id, 'Ingredient ID:' %>
	<%= f.number_field :ingredient_id %>
	<%= f.hidden_field :recipe_id, value: "#{@recipe.id}" %>
	<%= f.submit 'Add Ingredient' %>
<% end %>