<h2>Recipe: <%= @recipe.name %></h2>
<p>Complexity: <%= @recipe.complexity %></p>
<p>Genre: <%= @recipe.genre %></p>
<h3>Ingredients:</h3>
<% @recipe.ingredients.each do |ingredient| %>
  - <%= ingredient.name %>
  <br>
<% end %>
<h3>Total Cost: <%= @recipe.total_cost %></h3>