

<h2><%="List of Ingredients for #{@recipe.name}"%></h2>
<p><%="Complexity: #{@recipe.complexity}"%> </p>
<p><%="Genre: #{@recipe.genre}"%> </p>

<h3><%="Ingredients Used for #{@recipe.name}"%></h3>
  <% @ingredients.each do |ingredient|%>
   <p><%= ingredient.name%></p>
  <%end %>

<h4><%="Total Cost: #{@cost}"%>


<h4>Add Ingredient to Recipe</h4>
  <%= form_with url: "/recipe_ingredients", method: :post, local: true do |form| %>
  <%= form.text_area :ingredient_id %> 
  <%= form.submit "Add Ingredient" %>
  <%= form.hidden_field :recipe_id, value: "#{@recipe.id}" %>
  <% end %>
